body {
	background-color: black;
	text-align: center;
}
#googlesearch {
	width: 200px;
	margin-bottom: 68px;
	background-image:url("images/Google.png");
	background-size: 100px;
	height: 100px;
    background-repeat: no-repeat;
    height: 31px;
    background-repeat: no-repeat;
    display:inline-block;
}
#googlesearchbox{
	background-color: whitesmoke;
	width: 100px;
	height: 100%;
    margin-left: 106px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    border: 1px solid whitesmoke;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: lawngreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #255;
}